In [39]:
import pandas as pd
import requests
import math
import time
import random

hdr = {
'sec-ch-ua': '" Not A;Brand";v="99", "Chromium";v="90", "Google Chrome";v="90"',
'sec-ch-ua-mobile': '?0',
'Upgrade-Insecure-Requests': '1',
'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.85 Safari/537.36'}    

url = 'https://www.movoto.com/api/v/search/'

page = 1
payload= {
'path': '/san-francisco-ca/p-%s/' %page,
'fullUrlPath': '/san-francisco-ca/p-%s/' %page}


def get_data(url,payload,hdr):
    try:
        jsonData = requests.get(url, params=payload, headers=hdr).json()
        return jsonData, True
    except Exception as e:
        print(e)
        randSleep = random.randint(500, 1500)/100
        print('Will rerty in %s seconds.' %(int(randSleep)))
        time.sleep(randSleep)
        return None, False
    

success = False
while success == False:
    jsonData, success = get_data(url, payload, hdr)

total_pages = math.ceil(jsonData['data']['totalCount'] / 50)

df = pd.DataFrame()
for page in range(1, total_pages+1):
    if page==1:
        pass
    else:
        success = False
        payload= {
            'path': '/san-francisco-ca/p-%s/' %page,
            'fullUrlPath': '/san-francisco-ca/p-%s/' %page}
        while success == False:
            jsonData, success = get_data(url, payload, hdr)
        
    data = jsonData['data']['listings']
    data = pd.json_normalize(data)    
    df = df.append(data, sort=False)
    print('%s of %s' %(page, total_pages))
    
df = df.reset_index(drop=True)

1 of 40
2 of 40
3 of 40
4 of 40
5 of 40
6 of 40
7 of 40
8 of 40
9 of 40
10 of 40
11 of 40
12 of 40
13 of 40
14 of 40
Expecting value: line 1 column 1 (char 0)
Will rerty in 10 seconds.
Expecting value: line 1 column 1 (char 0)
Will rerty in 8 seconds.
Expecting value: line 1 column 1 (char 0)
Will rerty in 12 seconds.
Expecting value: line 1 column 1 (char 0)
Will rerty in 10 seconds.
Expecting value: line 1 column 1 (char 0)
Will rerty in 8 seconds.
Expecting value: line 1 column 1 (char 0)
Will rerty in 10 seconds.
Expecting value: line 1 column 1 (char 0)
Will rerty in 8 seconds.
Expecting value: line 1 column 1 (char 0)
Will rerty in 9 seconds.
Expecting value: line 1 column 1 (char 0)
Will rerty in 12 seconds.
Expecting value: line 1 column 1 (char 0)
Will rerty in 9 seconds.
15 of 40
16 of 40
17 of 40
18 of 40
19 of 40
20 of 40
21 of 40
22 of 40
23 of 40
24 of 40
25 of 40
26 of 40
27 of 40
Expecting value: line 1 column 1 (char 0)
Will rerty in 12 seconds.
Expecting value: line 1 column 1 (char 0)
Will rerty in 7 seconds.
Expecting value: line 1 column 1 (char 0)
Will rerty in 9 seconds.
Expecting value: line 1 column 1 (char 0)
Will rerty in 6 seconds.
Expecting value: line 1 column 1 (char 0)
Will rerty in 8 seconds.
Expecting value: line 1 column 1 (char 0)
Will rerty in 13 seconds.
Expecting value: line 1 column 1 (char 0)
Will rerty in 13 seconds.
Expecting value: line 1 column 1 (char 0)
Will rerty in 9 seconds.
28 of 40
29 of 40
30 of 40
31 of 40
32 of 40
33 of 40
34 of 40
35 of 40
36 of 40
37 of 40
38 of 40
39 of 40
40 of 40

In [40]:
df.shape

(1990, 61)

1990 records extracted with 61 columns

In [41]:
df.to_csv('movoto.csv',sep=',')# saving extracted data to movoto.csv

In [42]:
movoto=pd.read_csv('movoto.csv') # reading file "movoto.csv"

In [43]:
movoto.head() # to display few records to analyse the data and to understand which columns will be useful for further anlaysis

   Unnamed: 0  closePrice  ...  latitude activeUnderContract
0           0         NaN  ...       NaN                 NaN
1           1         NaN  ...       NaN                 NaN
2           2         NaN  ...       NaN                 NaN
3           3         NaN  ...       NaN                 NaN
4           4         NaN  ...       NaN                 NaN

[5 rows x 62 columns]

In [44]:
movoto.shape

(1990, 62)

In [45]:
movoto.columns # to display all columns

Index(['Unnamed: 0', 'closePrice', 'daysOnMovoto', 'id', 'tnImgPath',
       'listDate', 'listingAgent', 'listPrice', 'lotSize', 'sqftTotal',
       'mlsDbNumber', 'mlsNumber', 'bath', 'bed', 'openHouses',
       'officeListName', 'photoCount', 'propertyType',
       'propertyTypeDisplayName', 'yearBuilt', 'zipCode', 'path', 'status',
       'houseRealStatus', 'priceChange', 'propertyId', 'visibility',
       'soldDate', 'createdAt', 'imageDownloaderStatus', 'onMarketDateTime',
       'virtualTourLink', 'nhsDetails', 'isNHS', 'isSold', 'listingByMovoto',
       'priceRaw', 'isVideoTour', 'is3DTour', 'videoTourLink',
       'mls.dateHidden', 'mls.id', 'geo.state', 'geo.city', 'geo.lat',
       'geo.lng', 'geo.zipcode', 'geo.subPremise', 'geo.address',
       'virtualLink', 'address', 'nhsBuilderName', 'nhsBuilderId',
       'nhsListingType', 'nhsMarketName', 'nhsMarketId', 'nhsPlanName',
       'nhsCommunityName', 'nhsCommunityId', 'longitude', 'latitude',
       'activeUnderContract'],
      dtype='object')

In [46]:
movoto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1990 entries, 0 to 1989
Data columns (total 62 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               1990 non-null   int64
 1   closePrice               0 non-null      float64
 2   daysOnMovoto             1990 non-null   int64
 3   id                       1990 non-null   object
 4   tnImgPath                1990 non-null   object
 5   listDate                 1963 non-null   object
 6   listingAgent             1985 non-null   object
 7   listPrice                1990 non-null   int64
 8   lotSize                  1912 non-null   float64
 9   sqftTotal                1957 non-null   float64
 10  mlsDbNumber              1990 non-null   int64
 11  mlsNumber                1990 non-null   object
 12  bath                     1811 non-null   float64
 13  bed                      1838 non-null   float64
 14  openHouses               1990 non-null   object
 15  officeListName           1969 non-null   object
 16  photoCount               1990 non-null   int64
 17  propertyType             1990 non-null   object
 18  propertyTypeDisplayName  1990 non-null   object
 19  yearBuilt                1780 non-null   float64
 20  zipCode                  1990 non-null   int64
 21  path                     1990 non-null   object
 22  status                   1990 non-null   object
 23  houseRealStatus          1990 non-null   object
 24  priceChange              367 non-null    float64
 25  propertyId               1990 non-null   object
 26  visibility               1990 non-null   object
 27  soldDate                 50 non-null     object
 28  createdAt                1990 non-null   object
 29  imageDownloaderStatus    1990 non-null   int64
 30  onMarketDateTime         1990 non-null   object
 31  virtualTourLink          1019 non-null   object
 32  nhsDetails               0 non-null      float64
 33  isNHS                    1990 non-null   bool
 34  isSold                   1990 non-null   bool
 35  listingByMovoto          1969 non-null   object
 36  priceRaw                 1990 non-null   int64
 37  isVideoTour              1990 non-null   bool
 38  is3DTour                 1990 non-null   bool
 39  videoTourLink            0 non-null      float64
 40  mls.dateHidden           0 non-null      float64
 41  mls.id                   1990 non-null   int64
 42  geo.state                1990 non-null   object
 43  geo.city                 1990 non-null   object
 44  geo.lat                  1990 non-null   float64
 45  geo.lng                  1990 non-null   float64
 46  geo.zipcode              1990 non-null   int64
 47  geo.subPremise           1183 non-null   object
 48  geo.address              1990 non-null   object
 49  virtualLink              1019 non-null   object
 50  address                  23 non-null     object
 51  nhsBuilderName           21 non-null     object
 52  nhsBuilderId             21 non-null     float64
 53  nhsListingType           21 non-null     object
 54  nhsMarketName            0 non-null      float64
 55  nhsMarketId              0 non-null      float64
 56  nhsPlanName              21 non-null     object
 57  nhsCommunityName         21 non-null     object
 58  nhsCommunityId           21 non-null     float64
 59  longitude                2 non-null      float64
 60  latitude                 2 non-null      float64
 61  activeUnderContract      150 non-null    object
dtypes: bool(4), float64(18), int64(10), object(30)
memory usage: 909.6+ KB

In [47]:
movoto.drop(movoto.columns[[0,1,4,10,14,16,18,27,29,31,32,37,38,39,40,41,44,45,47]], axis=1, inplace=True)

In [48]:
movoto_df=movoto.drop(labels=['priceChange','id','propertyId','visibility','isNHS','isSold','listingByMovoto','virtualLink', 'address', 'nhsBuilderName', 'nhsBuilderId',
       'nhsListingType', 'nhsMarketName', 'nhsMarketId', 'nhsPlanName',
       'nhsCommunityName', 'nhsCommunityId', 'longitude', 'latitude',
       'activeUnderContract'], axis=1)

In [49]:
movoto_df.isna().sum() # to display null values in the columns

daysOnMovoto          0
listDate             27
listingAgent          5
listPrice             0
lotSize              78
sqftTotal            33
mlsNumber             0
bath                179
bed                 152
officeListName       21
propertyType          0
yearBuilt           210
zipCode               0
path                  0
status                0
houseRealStatus       0
createdAt             0
onMarketDateTime      0
priceRaw              0
geo.state             0
geo.city              0
geo.zipcode           0
geo.address           0
dtype: int64

In [50]:
movoto_df.dropna(axis=0,inplace=True) # to delete rows with null values

In [51]:
movoto_df.shape

(1529, 23)

In [52]:
movoto_df.columns

Index(['daysOnMovoto', 'listDate', 'listingAgent', 'listPrice', 'lotSize',
       'sqftTotal', 'mlsNumber', 'bath', 'bed', 'officeListName',
       'propertyType', 'yearBuilt', 'zipCode', 'path', 'status',
       'houseRealStatus', 'createdAt', 'onMarketDateTime', 'priceRaw',
       'geo.state', 'geo.city', 'geo.zipcode', 'geo.address'],
      dtype='object')

In [53]:
movoto_df['zipCode'].value_counts()

94110    163
94107    127
94105    118
94109    113
94103     90
94114     87
94115     84
94112     78
94123     72
94131     66
94117     59
94124     56
94102     49
94133     42
94121     42
94122     39
94134     38
94118     38
94116     36
94127     33
94132     26
94158     26
94108     24
94111     15
94104      8
Name: zipCode, dtype: int64

In [54]:
movoto_df.head()

   daysOnMovoto             listDate  ... geo.zipcode          geo.address
0             0  2021-05-02 00:00:00  ...       94110         639 Banks St
1             0  2021-05-02 13:45:06  ...       94110  459 461 Potrero Ave
2             0  2021-03-04 00:00:00  ...       94115        1901 Scott St
4             0  2021-04-12 00:00:00  ...       94107  875 Vermont St #204
5             0  2021-04-22 00:00:00  ...       94123     2922 Franklin St

[5 rows x 23 columns]

In [64]:
movoto_df['listDate'] =movoto_df['listDate'].astype('datetime64')

In [55]:
# converting all float values to int values to check if there are any outliers
float_columns = movoto_df.select_dtypes(include=['float64'])
for col in float_columns:
  movoto_df[col] = movoto_df[col].astype('int64')

In [65]:
movoto_df.dtypes

daysOnMovoto                 int64
listDate            datetime64[ns]
listingAgent                object
listPrice                    int64
lotSize                      int64
sqftTotal                    int64
mlsNumber                   object
bath                         int64
bed                          int64
officeListName              object
propertyType                object
yearBuilt                    int64
zipCode                      int64
path                        object
status                      object
houseRealStatus             object
createdAt                   object
onMarketDateTime            object
priceRaw                     int64
geo.state                   object
geo.city                    object
geo.zipcode                  int64
geo.address                 object
dtype: object

**Outliers**

---

In [57]:
import numpy as np
from scipy import stats
def drop_numerical_outliers(df, z_thresh=3):
    # Constrains will contain `True` or `False` depending on if it is a value below the threshold.
    constrains = df.select_dtypes(include=['int64']) \
        .apply(lambda x: np.abs(stats.zscore(x)) < z_thresh).all(axis=1)
    # Drop (inplace) values set to be rejected
    num = len(df.index[~constrains])
    print(num)
    print('There are %s outliers in this dataframe'%(num))
    df.drop(df.index[~constrains], inplace=True)

In [58]:
drop_numerical_outliers(movoto_df)

112
There are 112 outliers in this dataframe

In [59]:
movoto_df.shape #

(1417, 23)

In [66]:
movoto_df.head()

   daysOnMovoto            listDate  ... geo.zipcode          geo.address
0             0 2021-05-02 00:00:00  ...       94110         639 Banks St
1             0 2021-05-02 13:45:06  ...       94110  459 461 Potrero Ave
4             0 2021-04-12 00:00:00  ...       94107  875 Vermont St #204
5             0 2021-04-22 00:00:00  ...       94123     2922 Franklin St
7             0 2021-05-01 00:00:00  ...       94131      187 Skyview Way

[5 rows x 23 columns]

In [61]:
movoto_df.drop_duplicates

<bound method DataFrame.drop_duplicates of       daysOnMovoto             listDate  ... geo.zipcode              geo.address
0                0  2021-05-02 00:00:00  ...       94110             639 Banks St
1                0  2021-05-02 13:45:06  ...       94110      459 461 Potrero Ave
4                0  2021-04-12 00:00:00  ...       94107      875 Vermont St #204
5                0  2021-04-22 00:00:00  ...       94123         2922 Franklin St
7                0  2021-05-01 00:00:00  ...       94131          187 Skyview Way
...            ...                  ...  ...         ...                      ...
1963           223  2020-09-21 00:00:00  ...       94109  1155 Leavenworth St #22
1964           226  2020-09-17 00:00:00  ...       94110       151 Bartlett St #2
1965           233  2020-09-11 00:00:00  ...       94110     2407 Harrison St #17
1966           240  2020-09-04 00:00:00  ...       94107       855 Folsom St #330
1967           253  2020-08-22 00:00:00  ...       94112         143 Louisburg St

[1417 rows x 23 columns]>

In [62]:
movoto_df.to_csv('movoto_final.csv',sep=',')